@import "@fontsource/national-park/300.css";
@import "@fontsource/national-park/600.css";
@import "@fontsource/national-park/800.css";
@import "@fontsource/inter/700-italic.css";

@import "tailwindcss";
@import "@nuxt/ui";

@import "./base.css";

#app {
}

.full-hd-v-box {
  min-width: 1080px;
  max-width: 1080px;
  min-height: 1920px;
  max-height: 1920px;
}

.white-space-pre-line {
  white-space: pre-line;
}

.text-style-overline {
  font-family: "National Park", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: 39px; /* 156% */
  letter-spacing: 3.5px;
  text-transform: uppercase;
}

.text-style-language-switcher {
  font-family: "National Park", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: 39px; /* 156% */
  letter-spacing: 2px;
  text-transform: uppercase;
}

.text-style-h1 {
  font-family: "Inter", sans-serif;
  font-size: 160px;
  font-style: italic;
  font-weight: 700;
  line-height: 170px; /* 106.25% */
  letter-spacing: -5.5px;
}

.text-style-h2 {
  font-family: "Inter", sans-serif;
  font-size: 47px;
  font-style: italic;
  font-weight: 700;
  line-height: 55px; /* 117.021% */
  letter-spacing: -0.3px;
}

.text-style-h2-light {
  font-family: "National Park", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 300;
  line-height: 38px; /* 79.167% */
}

.text-style-h2-station-2 {
  font-family: Inter, sans-serif;
  font-size: 102px;
  font-style: italic;
  font-weight: 700;
  line-height: 115px; /* 112.745% */
  letter-spacing: -3px;
}

.text-style-copy {
  font-family: "National Park", sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 189.474% */
  letter-spacing: 0.5px;
}

:root {
  --app-padding: 60px;
  --text-style-overline-descender: 11px;
  --text-style-h2-station-2-descender: 21px;
}

* {
  touch-action: none;
}
